h1 {
  color: red;
  text-align: center;
}


h2 {
  color: blue;
  font-style: italic;
  font-weight: 800;

}

h3 {
  color: green;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
