h1 {
  color: red;
  text-align: center;
}


h2 {
  color: brown;
  font-style: normal;
  font-weight: 400;

}

h3 {
  color: blue;
  font-style: italic;
}

p {
  font-family: sans-serif;
  font-size: 15px;
}

ul {
  font-size: 15px;
  line-height: 30px;
  font-style: italic;
}

ol {
  font-size: 15px;
  line-height: 30px;
  font-style: italic;
}
